<?xml version='1.0' encoding='UTF-8'?>
<rss version='2.0' xmlns:atom='http://www.w3.org/2005/Atom'>
  <channel>
    <title>{{ rss_title }}</title>
    <atom:link href='{{ rss_link }}' rel='self' type='application/rss+xml'/>
    <link>{{ home_link }}</link>
    <description>{{ rss_desc }}</description>
    <language>en-us</language>
    <pubDate>{{ utc }}</pubDate>
    <lastBuildDate>{{ builddate }}</lastBuildDate>
{% for item in items %}
    <item>
      <title><![CDATA[{{ item.title }}]]></title>
      <pubDate>{{ item.pubdate }}</pubDate>
      <guid isPermaLink='true'>{{ item.link }}</guid>
      <link><![CDATA[{{ item.link }}]]></link>
      <description><![CDATA[
        <div>
        <table>
        <tr>
{% for url in item.images %}
          <td>
          <a href='{{ url }}'>
          <img style='margin: 6px 0 6px 0; max-width: 200px; width: expression((this.width > 200) && (this.width >= this.height) ? 200: true); max-height: 200px; height: expression((this.height > 200) && (this.height >= this.width) ? 200: true); border: none;'
                src='{{ url }}'/>
          </a>
          </td>
{% if loop.index % 2 == 0 %}</tr><tr>{% endif %}
{% endfor %}
        </tr>
        </table>
        </div>
        <div>
        <br>{{ item.header|safe }}<br>
        </div>
        <div>
        {{ item.text|safe }}<br>
        </div>
      ]]></description>
    </item>
{% endfor %}
  </channel>
</rss>

